@import "./variable.css";

body{
    background-image: var(--primary-background);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    
  }
  
h1{
    font-size: var(--h1);
}
  
h1,h2,h3,h4,h5{
    text-align: center;
}
  
.gallery-title{
    text-align: center;
    font-size: var(--h1);
    font-family: "Oswald", sans-serif;
    color: #aae1f2;
    text-decoration: underline;
    margin-top: 5rem;
    border: solid;
    border-color: black;
    border-radius: 50px;
    background: radial-gradient(circle, rgba(42,24,166,0.3) 0%, rgba(68,4,94,1) 100%); 
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 20%;
    border: solid;
    border-radius: 30px;
    margin: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out; 
    background: radial-gradient(circle, rgba(109,94,209,0.35) 0%, rgba(35,42,83,1) 100%);
    color: white;
    box-shadow: 2px 3px 6px white;
}


img{
    max-width: 100%;
    transition: all 0.3s ease-in-out; 
    border-radius: 10px;
    object-fit: contain;
    margin: 10px;
}

.header{
    text-decoration: underline;
    font-size: var(--h2);
}

h3,h4,h5,h6{
    padding-bottom: 5px;
    text-align: center;
}

h3{
    font-size: var(--h3);
}

h4{
    font-size: var(--h4);
}

h5{
    font-size: var(--h5);
}

h6{
    font-size: var(--h6);
}

.type-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6.75rem;
    width: 100%;
    border: solid;
    border-radius: 50px;
    border-color: rgba(109,94,209,0.35);
    margin: 2rem 0rem 2rem 0rem;
  }

.sort-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6.75rem;
    width: 100%;
    border: solid;
    border-radius: 50px;
    border-color: rgba(35,42,83,1);
}  

.btn {
    background: var(--white);
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0rem 0.4rem 0.8rem var(--black);
  }

.dropdown{
    background: var(--white);
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0rem 0.4rem 0.8rem var(--black);    
}