@import "./variable.css";
@import url(bg.jpg);

body{
    background-image: var(--primary-background);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    
  }
  

h1,h2,h3,h4,h5{
    text-align: center;
    font-family: "Ruluko";
}
  
.gallery-title{
    text-align: center;
    font-size: var(--h1);
    color: var(--text);
    text-decoration: underline;
    margin-top: 5rem;
    border: solid;
    border-color: black;
    border-radius: 50px;
    background: var(--primary);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    color: var(--secondary);
}

.card{
    width: 25%;
    border: solid;
    border-radius: 30px;
    border-color: var(--secondary);
    margin: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out; 
    background: var(--primary);
    color: var(--text);
    box-shadow: 2px 3px 6px, var(--secondary);
}

img{
    max-width: 100%;
    transition: all 0.3s ease-in-out; 
    border-radius: 10px;
    object-fit: contain;
    margin: 10px;
    filter: var(--img);
}

.header{
    text-decoration: underline;
    font-size: var(--h2);
}

h3,h4,h5,h6{
    padding-bottom: 5px;
    text-align: center;
    font-family: "Ruluko";
}

h3{
    font-size: var(--h3);
}

h4{
    font-size: var(--h4);
}

h5{
    font-size: var(--h5);
}

h6{
    font-size: var(--h6);
}
.theme-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6.75rem;
    width: 100%;
    border: solid;
    border-radius: 50px;
    border-color: var(--secondary);
    margin: 2rem 0rem 2rem 0rem;
    font-size: var(--h3);
  }


.type-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6.75rem;
    width: 100%;
    border: solid;
    border-radius: 50px;
    border-color: var(--secondary);
    margin: 2rem 0rem 2rem 0rem;
    font-size: var(--h3);
  }

.sort-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6.75rem;
    width: 100%;
    border: solid;
    border-radius: 50px;
    border-color: var(--secondary);
}  

.btn {
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 0.8rem;
    font-size: var(--h5);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0rem 0.4rem 0.8rem var(--secondary);
    background-color: var(--primary);
    color: var(--text);
  }

#btn-norm{
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 0.8rem;
    font-size: var(--h5);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0rem 0.4rem 0.8rem var(--lightblue);
    color: var(--cream);
    background: var(--purple);
    border: solid;
    border-color: var(--lightblue);
    border-width: 2px;
}
#btn-dark{
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 0.8rem;
    font-size: var(--h5);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0rem 0.4rem 0.8rem var(--bluegreen);
    background-color: var(--bluegreen);
    color: var(--aqua);
    background: var(--black);
    border: solid;
    border-width: 2px;  
    border-color: var(--aqua);
}


  
.dropdown{
    padding: 1.2rem 2.4rem;
    border: none;
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    box-shadow: 0rem 0.2rem 0.8rem var(--secondary); 
    background-color: var(--primary);
    color: var(--text);   
}

select{
    cursor: pointer;
}

label{
    font-size: var(--h5);
    
}
