html, body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

:root{
  --purple: rgba(109,94,209,0.35);
  --lightblue: #717fe1;
  --cream: #fffce9;
  --aqua: #719fac;
  --bluegreen: #1a6970;
  --black: #020001;

  --bright: brightness(100%);
  --dim: brightness(50%);
  
  --h1: 	3.986rem; 	
  --h2: 	2.488rem;	
  --h3: 	2.074rem; 	
  --h4: 	1.728rem; 	
  --h5: 	1.44rem;
  --h6:   1.2rem;


  --primary-background: url("bg.jpg");
}

.normal{
  --primary: var(--purple);
  --secondary: var(--lightblue);
  --text: var(--cream);
  --img: var(--bright);
  
}

.dark{
  --primary: var(--black);
  --secondary: var(--bluegreen);
  --text: var(--cream);
  --img: var(--dim)
  
}


.ruluko-regular {
  font-family: "Ruluko", sans-serif;
  font-weight: 400;
  font-style: normal;
}
